gwt-unitCache/gwt-unitCache-72cb1b634ef8ae81083ee3d69c942d236fe6aafe-FF35F588CF7564DE259004F02565B00E-00000171F4560F2F
*.war
.project
.classpath
portal/war/WEB-INF/classes
portal/gwt-unitCache/**
portal/war/WEB-INF/db
portal/war/WEB-INF/lib
portal/war/WEB-INF/deploy
portal/war/builtinds/sc
*/target
.settings
portal/war/builtinds/*.cache.js
war_bkp/
