.rightBorderOnly {
    border-right:1px solid #F9F9F9;
}

.docHover {
    font-family:Verdana,Bitstream Vera Sans,sans-serif; font-size:11px; color:black;
    background-color:#e0ebff; border:1px solid #808080; padding:5px;
}

/* Empty style for libraryComponents. Needed for placeholder in VisualBuilderSuccess test */
.libraryComponentsGrid {}

.instructionsPane {
    font-family:Verdana,Helvetica,sans-serif;
    font-size:32px; 
    color:#d6d5d5;
    text-align: center;
}

.instructionsHeader {
    font-family:Verdana,Helvetica,sans-serif;
    font-size:32px; 
    color:#d6d5d5;
    text-align: center;
}

.instructionsComponent {
    font-family:Verdana,Helvetica,sans-serif;
    font-size:12px; 
    color:#666666;
    text-align: center;
}

.instructionsText {
    font-family:Verdana,Helvetica,sans-serif;
    font-size:16px; 
    color:#d6d5d5;
    text-align: center;
}

/* Extend pageTitle style for "over" state to show dashed moving border to show editability */
.pageTitleOver {
    background-image: linear-gradient(90deg, #157fcc 50%, transparent 50%), linear-gradient(90deg, #157fcc 50%, transparent 50%), linear-gradient(0deg, #157fcc 50%, transparent 50%), linear-gradient(0deg, #157fcc 50%, transparent 50%);
    background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
    background-size: 15px 2px, 15px 2px, 2px 15px, 2px 15px;
    background-position: left top, right bottom, left bottom, right top;
    animation: border-dance 1s infinite linear;
}
@keyframes border-dance {
    0% {
        background-position: left top, right bottom, left bottom, right top;
    }
    100% {
        background-position: left 15px top, right 15px bottom, left bottom 15px, right top 15px;
    }
}

.previewModeLabel {
    background-color: #ffffff;
    color: #999999;
    font-family:Verdana,Helvetica,sans-serif;
    font-size: 18px;
    padding-left: 16px;
    padding-right: 16px;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
}

.previewDeviceOutline {
  border-radius: 16px;
}

.vbNotification {
    background-color: #3a4a53;
    color: #ffffff;
    font-family: calibri;
    font-size: 14px;
    padding: 10px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    -moz-box-shadow: 0 0 5px #3a4a53;
    -webkit-box-shadow: 0 0 5px #3a4a53;
    box-shadow: 0 0 5px #3a4a53;
}

.vbWarn {
    background-color: #ea9039;
    color: #ffffff;
    font-family: calibri;
    font-size: 14px;
    padding: 10px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    -moz-box-shadow: 0 0 5px #3a4a53;
    -webkit-box-shadow: 0 0 5px #3a4a53;
    box-shadow: 0 0 5px #3a4a53;
}

.vbError {
    background-color: #e34e42;
    color: #ffffff;
    font-family: calibri;
    font-size: 14px;
    padding: 10px;
    -moz-border-radius: 8px 8px 8px 8px;
    -webkit-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    -moz-box-shadow: 0 0 5px #3a4a53;
    -webkit-box-shadow: 0 0 5px #3a4a53;
    box-shadow: 0 0 5px #3a4a53;
}

.vbDragLine {
    background-image: linear-gradient(90deg, #75acff 50%, transparent 50%);
    background-repeat: repeat-x;
    background-size: 15px 2px, 0px 0px, 0px 0px, 0px 0px;
    background-position: left top;
    animation: border-dance-top 1s infinite linear;
    pointer-events: none;
}
@keyframes border-dance-top {
    0% {
        background-position: left top;
    }
    100% {
        background-position: left 15px top;
    }
}
  
.vbDragLineVertical {
    background-image: linear-gradient(90deg, #157fcc 50%, transparent 50%), linear-gradient(90deg, #157fcc 50%, transparent 50%), linear-gradient(0deg, #157fcc 50%, transparent 50%), linear-gradient(0deg, #157fcc 50%, transparent 50%);
    background-repeat: repeat-y;
    background-size: 0px 0px, 0px 0px, 0px 0px, 2px 5px;
    background-position: right top;
    animation: border-dance-right 1s infinite linear;
    pointer-events: none;
}
@keyframes border-dance-right {
    0% {
        background-position: right top;
    }
    100% {
        background-position: right top 5px;
    }
}

.measureItemCurrentValue {
    color: #157fcc;
}

.searchItemLite,
.searchItemLiteRTL,
.searchItemLiteOver,
.searchItemLiteOverRTL,
.searchItemLiteFocused,
.searchItemLiteFocusedRTL,
.searchItemLiteFocusedOver,
.searchItemLiteFocusedOverRTL,
.searchItemLiteDisabled,
.searchItemLiteDisabledRTL,
.searchItemLiteError,
.searchItemLiteErrorRTL,
.searchItemLiteErrorOver,
.searchItemLiteErrorOverRTL,
.searchItemLiteErrorFocused,
.searchItemLiteErrorFocusedRTL,
.searchItemLiteErrorFocusedOver,
.searchItemLiteErrorFocusedOverRTL,
.searchItemLitePending,
.searchItemLitePendingRTL,
.searchItemLitePendingOver,
.searchItemLitePendingOverRTL,
.searchItemLitePendingFocused,
.searchItemLitePendingFocusedRTL,
.searchItemLitePendingFocusedOver,
.searchItemLitePendingFocusedOverRTL,
.searchItemLitePendingDisabled,
.searchItemLitePendingDisabledRTL,
.searchItemLitePendingError,
.searchItemLitePendingErrorRTL,
.searchItemLiteHint,
.searchItemLiteHintRTL,
.searchItemLiteDisabledHint,
.searchItemLiteDisabledHintRTL {
  color: #282828;
  font-size: 14px;
  padding: 2px 9px;
  outline: none;
  text-decoration: none;
  font-family: RobotoLight;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* borders and padding for minimalist text-based items */
.searchItemLite,
.searchItemLiteRTL,
.searchItemLiteFocused,
.searchItemLiteFocusedRTL,
.searchItemLiteDisabled,
.searchItemLiteDisabledRTL,
.searchItemLiteError,
.searchItemLiteErrorRTL,
.searchItemLiteErrorOver,
.searchItemLiteErrorOverRTL,
.searchItemLiteErrorFocused,
.searchItemLiteErrorFocusedRTL,
.searchItemLiteErrorFocusedOver,
.searchItemLiteErrorFocusedOverRTL,
.searchItemLitePending,
.searchItemLitePendingRTL,
.searchItemLitePendingFocused,
.searchItemLitePendingFocusedRTL,
.searchItemLitePendingDisabled,
.searchItemLitePendingDisabledRTL,
.searchItemLitePendingError,
.searchItemLitePendingErrorRTL,
.searchItemLiteHint,
.searchItemLiteHintRTL,
.searchItemLiteDisabledHint,
.searchItemLiteDisabledHintRTL {
  border: 1px solid #b8b8b8;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  background-color: white;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

/* focused state */
.searchItemLiteErrorFocused,
.searchItemLiteErrorFocusedRTL,
.searchItemLiteErrorFocusedOver,
.searchItemLiteErrorFocusedOverRTL,
.searchItemLiteFocused,
.searchItemLiteFocusedRTL,
.searchItemLiteFocusedOver,
.searchItemLiteFocusedOverRTL,
.searchItemLitePendingFocused,
.searchItemLitePendingFocusedRTL,
.searchItemLitePendingFocusedOver,
.searchItemLitePendingFocusedOverRTL {
  outline: none;
  border-color: #157fcc;
  background-color: white;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* over state */
.searchItemLiteOver,
.searchItemLiteOverRTL,
.searchItemLiteErrorOver,
.searchItemLiteErrorOverRTL,
.searchItemLitePendingOver,
.searchItemLitePendingOverRTL,
.searchItemLitePendingFocusedOver,
.searchItemLitePendingFocusedOverRTL {
  -moz-box-shadow: 0 0 5px 0 #157fcc;
  -webkit-box-shadow: 0 0 5px 0 #157fcc;
  box-shadow: 0 0 5px 0 #157fcc;
  border: 1px solid #157fcc;
  background-color: white;
  color: #333333;
}

/* focused over */
.searchItemLiteErrorFocusedOver,
.searchItemLiteErrorFocusedOverRTL,
.searchItemLiteFocusedOver,
.searchItemLiteFocusedOverRTL,
.searchItemLitePendingFocusedOver,
.searchItemLitePendingFocusedOverRTL {
  outline: none;
  -moz-box-shadow: 0 0 5px 0 #157fcc, inset 0 0 5px 0 #157fcc;
  -webkit-box-shadow: 0 0 5px 0 #157fcc, inset 0 0 5px 0 #157fcc;
  box-shadow: 0 0 5px 0 #157fcc, inset 0 0 5px 0 #157fcc;
  border: 1px solid #157fcc;
}

/*  hint text color */
.searchItemLiteHint,
.searchItemLiteHintRTL {
  color: #999999;
}

.searchStatusBar {
    background: white;
    color: #157fcc;
    font-family: RobotoLight;
    font-size: 11px;
    padding: 7px;
}

/* 
    css for visualBuilderHelp.html 
*/
#fade_databindingV2,#fade_reifyIntroLayoutsV2,#fade_video {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: 999998;
    background-color: black;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
  }

  #light_databindingV2,#light_reifyIntroLayoutsV2,#light_video {
    display: none;
    position: fixed;
    left: 15%;
    top: 15%;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 999999;
    overflow: visible;
  }

  #boxclose_databindingV2,#boxclose_reifyIntroLayoutsV2,#boxclose_video {
    float: right;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: fixed;
    right: 2px;
    top: 2px;
    z-index: 999999;
    opacity: 0.9;
  }
  .boxclose_databindingV2:before {
    content: "x";
  }

  #fade_databindingV2:hover ~ #boxclose_databindingV2 {
    display:none;
  }

  .boxclose_reifyIntroLayoutsV2:before {
    content: "x";
  }

  #fade_reifyIntroLayoutsV2:hover ~ #boxclose_reifyIntroLayoutsV2 {
    display:none;
  }
  .boxclose_video:before {
     content: "x";
   }

   #fade_video:hover ~ #boxclose_video {
     display:none;
   }

   .boxclose_video:before {
     content: "x";
   }

   #fade_video:hover ~ #boxclose_video {
     display:none;
   }
